body {
	background-image: url(http://3.bp.blogspot.com/_WTSm5OYWmow/TMvNVWJ3eoI/AAAAAAAAACo/hAH2UYnxjUU/s1600/Carmen+Sandiego.png);
	background-repeat: no-repeat;
	background-position: justify;
}
h1 {
    color: red;
    text-align: center;
    font-style: italic;
}
h2 {text-align: left;

}
p {
    font-family: "Times New Roman";
    font-size: 20px;
}